@model AlexDemo.CustomerHub.Presentation.WebUI.Models.ViewModels.Customer.Company.CreateCompanyVm

@{
    ViewData["Title"] = "Create";
}
<h4>Register Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadOfficeCountry" class="control-label"></label>
                <input asp-for="HeadOfficeCountry" class="form-control" />
                <span asp-validation-for="HeadOfficeCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfEmployees" class="control-label"></label>
                <input asp-for="NumberOfEmployees" class="form-control" />
                <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualRevenue" class="control-label"></label>
                <input asp-for="AnnualRevenue" class="form-control" />
                <span asp-validation-for="AnnualRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
